.container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}


.message {
    width: 50%;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: large;
    font-family: "Comic Sans MS";
}


.navbar {
    width: 150px;
    background-color: oldlace;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: left;
    font-family: "Comic Sans MS";
    justify-content: center;
}


.content {
    margin-left: 20px;
    flex-grow: 1;
}

img {
    max-width: 105%;
    height: 100%;
    border: 2px solid #333;
    border-radius: 10px;
    align-self: end;
}